<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <aggregation patch:source="Sitecore.Analytics.Processing.Aggregation.config">
      <aggregationContexts>
        <interaction>
          <history>
            <Source set:ref="aggregation/collectionDataHidden" />
          </history>
        </interaction>
        <pathAnalyzer patch:source="Sitecore.PathAnalyzer.Processing.config">
          <history>
            <Source set:ref="aggregation/collectionDataHidden" />
          </history>
        </pathAnalyzer>
      </aggregationContexts>
      <!-- Custom Collection Data for hidden mongodb node -->
      <collectionDataHidden type="Sitecore.Analytics.Aggregation.MongoDbCollectionDataProvider, Sitecore.Analytics.MongoDB" singleInstance="true">
        <param desc="connectionStringName">analytics.hidden</param>
      </collectionDataHidden>
      <historyTaskManager>
        <CollectionData set:ref="aggregation/collectionDataHidden" />
      </historyTaskManager>
      <historyWorker>
        <CollectionData set:ref="aggregation/collectionDataHidden" />
      </historyWorker>
    </aggregation>
  </sitecore>
</configuration>